.template-index {
    background-color: $color__cw-cream;
    >.wrapper {
        >.row-1 {
            padding: 20px;
            @include flexbox();
            @include flexbox-justify(center);
            @include flexbox-align-content(center);
            @include flexbox-align-items(center);
            @include flexbox-wrap(nowrap);
            @include flexbox-direction(column);
            @media screen and (min-width: $tabwidth){
                @include flexbox-justify(space-between);
                @include flexbox-direction(row);
                padding: 4% 10%;
            }
            >.col-1 {
                width: 100%;
                @media screen and (min-width: $tabwidth){
                    width: 50%;
                }
                header {
                    margin: 0 0 40px 0;

                    h2 {
                        margin: 0 0 20px 0;
                        font-size: 30px;
                        font-weight: 300;
                        color: $color__cw-brown;
                        @media screen and (min-width: $tabwidth){
                            font-size: 40px;
                        }
                    }
                    .spacer {
                        border-top: 2px solid $color__cw-brown;
                    }
                }
                .copy {

                }
            }
            >.col-2 {
                width: 100%;
                @media screen and (min-width: $tabwidth){
                    width: 50%;
                }
                img {
                    display: block;
                    width: 100%;
                }
            }
        }
    }
}